
body{
  font-family: "Manjari", sans-serif;
  color: #a4165e;
}

#title {
  font-family: "Manjari", sans-serif;
  font-size: 1.5rem;
  color: #a4165e;
}
/* 
/* 
/* NavBar */

 #title .brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #80144a;
  /* background-color: #fff; */
} 
 
#title .navbar{
  padding-left: 10%;
  padding-right: 10%;
}

#navbar-list {
  margin: 0 5% 0 0;
  right: 0; 
  /*position:absolute;*/
  position: absolute;
}

#navbar-list a:link{
  color: #80144a;
}
#navbar-list a:visited{
  color: #80144a;
}
#navbar-list a:hover{
  color: #fff;
}
#navbar-list a:active{
  color: #80144a;
}

 .nav-bar {
  background-color: #90bf42;
  padding: 0 100px;
  position:relative;
  white-space: nowrap;
  vertical-align: center;
} 

.nav-item {
  margin: 0 30px;
  padding: 0;
}  

.section-heading {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 35px;
}

#title .row {
  width: 100%;
}

/* Main Section */

#main {
  margin: 0 0;
  padding: 85px 15%;
  background-image: url("images/smoothies-2253423_1920 (flip).jpg");
  height: 625px;
}

.main-text {
  background-color: white;
  margin: 0;
  padding: 30px;
  height: auto;
  text-align: center;
  border-radius: 50px;
  max-width: 600px;
  min-width: 370px;
}

.main-heading {
  font-size: 4rem;
}

#main .get-started-btn {
  background-color: #90bf42;
  border: none;
  padding: 15px;
}

#main .get-started-btn:hover {
  background-color: #F18F01;
}

/* Features Section */

#features {
  padding: 70px 50px 100px 50px;
  background-color: #80144a;
  color: #fff;
  width: 100%;
  text-align: center;
}

#features .row{
  padding: 0 10%;
}

.feature-icon {
  font-size: 100px;
  color: #90bf42;
  margin-bottom: 10px;
}

.feature-icon:hover {
  font-size: 100px;
  color: #F18F01;
}

.feature-heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px;
}

/* Testimonials Section */

#testimonials {
  padding: 70px 50px 70px 50px;
  background-color: #fff;
  color: #80144a;
  text-align: center;
}

.testimonial-footer{
  font-weight: bold;
}

.featured-in{
  padding-top: 50px;
}

.testimonial-img {
  max-width: 400px;
  vertical-align: bottom;
}

.toronto-star-img {
  margin-bottom: 15px;
}

.now-img {
  margin-bottom: 15px;
}

#testimonials .carousel-control-next-icon,
 #testimonials .carousel-control-prev-icon {
  background-color: #90bf42;
}

/* Main Footer */

#main-footer {
  padding: 100px 50px;
  text-align: center;
  background-color: #80144a;
  color: #fff;
}

#main-footer .get-started-btn {
  background-color: #90bf42;
  font-size: 1.33rem;
  border: none;
  padding: 15px 40px;
}

#main-footer .get-started-btn:hover {
  background-color: #F18F01;
}

/* Social Footer  */

#social-footer{
  text-align: center;
  color: #90bf42;
  background-color: #fff;
  padding: 15px 40px;
}

.social-icon{
  margin: 30px;
  font-size: 30px;
}

#social-footer a{
  color: #90bf42;
}

#social-footer a:hover{
  color: #F18F01;
  text-decoration: none;
}



@media (max-width: 991px) {

  /* .nav-bar {
  padding: 0 100px;
  position: static;
  white-space: nowrap;
  overflow: visible;
  vertical-align: center;
} */

  #navbar-list {
    right:0; 
   /*position:;*/
    display: flex;
    background-color: #90bf42;
    border-radius: 25px;
    margin-right: 25%;
  }

  .navbar-toggler {
    max-height: 40px;
    right:0; 
    position:absolute;
    margin-right: 10%;
  }

  #title .navbar-toggler {
    /* margin-left: 30%;
    margin-right: 10%; */
    /* display: flex;
    flex-direction: row; */
  } 

   #title .navbar-nav {
    /* margin-left: 30%;
    margin-right: 10%; */
    /* display: flex;
    flex-direction: row; */
  } 

  .feature-container {
    margin: 50px 0;
  }

  .main-text {
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-img {
    padding: 25px 0;
  }

}

