/* Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> 

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/free-icon/letter_1251237" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

*/

html {
  margin: 0;
  padding: 0;
  
}

table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: solid 0.5px;
}

th {
  text-align: center;
  font-weight: 450;
}

body {
  background-color: #C9A9C2;
  color: #231942;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 30px;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 0;

}

p {
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

td {
  padding: 12px;
  border: solid 0.5px;
}

nav {
  height: 50px;
  background-color: #828A95;
  padding: 7px 200px 10px 7px;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
}

hr {
  border-color: #FAE8EB;
  border-style: dotted solid double dashed;
}

ul {
  list-style: none;
  font-family: 'Roboto Slab', serif;
}


li {
  display: inline-block;
  margin: 0 20px;
  padding: 1px 10px 5px 10px;
}

li a {
  text-decoration: none;
  color: black;
  border-radius: 100px;
  padding: 10px 15px 10px 15px;
}

li :hover {
  background-color: #FAE8EB;
}


.invisible {
  display: none;
}

.flower-img{
  width: 32px;
}

.portfolio-piece{
  text-align: left;
}

.pink-container{
  background-color: #FAE8EB;
  border-radius: 75px;
  padding: 0 40px 40px 40px;
  width: 45%;
}

#top-container {
  width: 75%;
  margin: 60px auto 0 auto;
  text-align: center;
  height: 450px;
  color: black;
}

#about-me-img{
  margin-top: 30px;
}

#top-container h2 {
  font-size: 20px;
  color: black;
}

#head-text{
  width: 75%;
  padding-top: 8%;
  margin-left: auto;
}

#me-img {
  margin-top : 50px; 
  margin-left: 50px;
  width: 350px;
  float: left; 
  border-radius: 75px;
}

#technical-skills {
  margin: 25px auto 50px auto;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 0 40px 40px 40px;
}

#technical-skills h2 {
  padding-top: 0;
  font-size: 30px;
}

#about-me {
  text-align: center;
  margin: 0 auto 50px auto;
  width: 75%;
}

#folder-img{
  width: 60px;
  margin-bottom: 25px;
}

#portfolio {
  text-align: center;
  margin: 50px auto 10px auto;
  font-size: 16px;
  padding-top: 40px;
}

#contact-me {
  background-color: #FAE8EB;
  margin: 50px auto 50px auto;
  font-size: 16px;
  text-align: center;
  padding: 40px 40px 40px 40px;
  width: 45%;
  border-radius: 75px;
}

#computer-img {
  margin-top: 50px;
  margin-bottom: 20px;
}

#icon-credit{
  text-align: center;
  border-top: solid 0.5px #828A95;
  font-size: 12px;
  padding: 15px;
}


