/* Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> 

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/free-icon/letter_1251237" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

*/

html {
  margin: 0;
  padding: 0;
  
}

table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: solid 0.5px;
}

th {
  text-align: center;
  font-weight: 450;
}

body {
  background-color: #FAE8EB;
  color: #231942;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 30px;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 5px 0 5px 0; 
}

p {
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

td {
  padding: 12px;
  border: solid 0.5px;
}

nav {
  height: 50px;
  background-color: #afafaf;
  padding: 7px 300px 10px 7px;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a:hover {
  color: #FAE8EB;
}

nav ul {
  margin-right: 5%;
}

hr {
  border-color: #FAE8EB;
  border-style: dotted solid double dashed;
}

ul {
  /*list-style: none;*/
  font-family: 'Roboto Slab', serif;
}


li {
  display: inline-block;
  margin: 0 20px;
  padding: 1px 10px 5px 10px;
}

li a {
  text-decoration: none;
  color: black;
  border-radius: 100px;
  padding: 10px 15px 10px 15px;
}

footer {
  border-top: solid 0.5px #828A95;
  text-align: center;
}

footer img {
  width: 40px;
  margin-top: 10px;
}

footer ul {
  padding: 0;
}

footer li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

footer a, footer a:visited {
  color: #231942;
}
footer a:hover {
  color: #000000;
}

.invisible {
  display: none;
}

.flower-img{
  width: 12px;
  margin-right: 5px;
}

.portfolio-piece{
  text-align: left;
}

.skills-list li{
  display: inline-block;
}

.skills-list li{
  display: inline;
}

#skills li {
  display: inline-block;
  margin: 0;
}

.experience-container{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 0 40px 40px 40px;
  width: 75%;
}

#skills {
  margin: 50px auto 50px auto;
  font-size: 18px;
  width: 75%;
}

#skills h4 {
  text-align: center;
  margin: 0;
}

.pink-container{
  background-color: #e8dce5;
  border-radius: 75px;
  padding: 0 40px 40px 40px;
  width: 45%;
}

#top-container {
  width: 75%;
  margin: 60px auto 0 auto;
  text-align: center;
  height: 450px;
  color: black;
}

#about-me-img{
  margin-top: 30px;
}

#top-container h2 {
  font-size: 20px;
  color: black;
}

#head-text{
  width: 75%;
  padding-top: 8%;
  margin-left: auto;
}

#me-img {
  margin-top : 50px; 
  margin-left: 50px;
  width: 350px;
  float: left; 
  border-radius: 75px;
}

#technical-skills {
  margin: 125px auto 50px auto;
  font-size: 20px;
}

.experience-container{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 0 40px 40px 40px;
}

#technical-skills h2 {
  padding-top: 0;
  font-size: 30px;
}

#work-exp {
  margin: 125px auto 50px auto;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 0 40px 40px 40px;
  width: 75%;
}

.work-exp-item{
  margin-top: 60px;
}

.work-exp-item h4 {
  margin-top: 0;
}

#work-exp td {
  border: none;
}

#work-exp-extra {
  margin-top: 60px;
}

#work-exp-extra th {
  padding: 10px 0;
}

#work-exp-extra th{
  width: 33.33%;
}

.experience-heading{
  font-size: 20px;
}

.work-exp-heading {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}

#work-exp ul {
  text-align: left;
  margin-top: 0;
}

#work-exp li {
  padding: 2px 0;
  display: block;
  margin: 0;
}

#work-exp table{
  width: 100%;
  border: none;
}

#work-exp th:first-of-type{
  text-align: left;
}

#work-exp th{
  text-align: center;
}

#work-exp th:last-of-type{
  text-align: right;
}

#about-me {
  text-align: center;
  margin: 0 auto 50px auto;
  width: 75%;
}

#folder-img{
  width: 60px;
  margin-bottom: 25px;
}

#portfolio {
  text-align: center;
  margin: 125px auto 50px auto;
  font-size: 16px;
  padding-top: 40px;
}

#contact-me {

  margin: 50px auto 50px auto;
  font-size: 16px;
  text-align: center;
  padding: 40px 40px 40px 40px;
  width: 45%;
  border-radius: 75px;
}

#computer-img {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50px;
}

#icon-credit{
  text-align: center;
  border-top: solid 0.5px #828A95;
  font-size: 12px;
  padding: 15px;
}


