<!DOCTYPE html>
<!-- just use regular html to write in ejs file -->
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
    <body>
